h1{
	background: blue;
	color:white;
	text-align: center;
	font-family: Arial;
	font-size: 50px;
}

body{
	margin-left:4%;
	margin-right: 4%;
}

.test{
	margin-left:-4%;
	margin-right: -4%;
	font-style: bold;
}
section{
	display: table;
	margin-top: 2%;
	margin-right: 2%;
	width: 30%;
	height: 200px;
	padding: 2px;

	border: double 3px #d3d3d3;

	float: left;
}

.start{
	clear: left;
}

.containChinese{
	font-family: "Times New Roman", "Microsoft YaHei", "Hiragino Sans GB"；
}
h2{
	font-family: Arial;
}

footer{
	clear: both;
}


.navigation {
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
	background: url(imgs/navigation-bg.jpg) no-repeat left top;
	background-size: 100%;
} 
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
.navigation ul li {
	display: inline;
	margin: 0px;
} 
.navigation ul li a {
	height:100%;
	display: block;
	float: left;
	padding: 25px 15px 25px 15px;
	font: bold 35px Arial;
	color: #333;
	text-decoration: none;
	background: url(imgs/navigation-separator.png) no-repeat right center;
	background-size: 1px 100%;
} 

.navigation ul li a:hover {
	color:#363636;
	background: url(imgs/navigation-hover.png) repeat-x left top;
	background-size: 100% 100%;
}

.navigation ul li.NavActive a {
	color:#363636;
	background: url(imgs/navigation-hover.png) repeat-x left top;
}